.wrapper {
	width: var(--screen-size);
	margin: 0 auto;
}

.main {
	min-height: calc(100vh - 71px);
	height: 10000px;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url('../assets/images/background_prolapse.jpg') no-repeat center center;
	background-size: contain;
}
