.competence {
	position: relative;
	z-index: 1;
	border-radius: 20px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15), 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	transform: translateY(-24px);
}

.competence__header {
	padding: 80px 0 50px;
	background-color: var(--color-tertiary);
	text-align: center;
}

.competence__title {
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: var(--text-size-xl);
	line-height: 100%;
	letter-spacing: 0px;
}

.competence__subtitle {
	font-weight: 400;
	font-size: var(--text-size-md);
	line-height: 100%;
	letter-spacing: 2px;
	color: var(--color-secondary);
}

.competence__content {
	padding: 50px 0 100px;
	position: relative;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/images/background_stars2.png') no-repeat center;
	background-size: cover;
}

.competence__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.competence__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 60px 23px;
	width: 270px;
	height: 490px;
	overflow: hidden;
	border-radius: 20px;
	background-color: var(--color-tertiary);
	text-align: center;
}

.competence__item :nth-child(2) {
	order: 4;
}

.competence__type {
	font-weight: 500;
	font-size: var(--text-size-md);
	line-height: 26px;
	letter-spacing: 2px;
	text-align: center;
}

.competence__icon-wrp {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: rgba(235, 234, 237, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 800px;
}

.competence__icon--animated {
	animation: competence-spin-x 1.5s ease forwards;
}

.competence__icon {
	transform-origin: center;
	transform-style: preserve-3d;
	transition: transform 0.4s ease;
}

.competence__btn:hover + .competence__icon-wrp .competence__icon {
	animation: competence-btn-spin-y 0.9s ease;
}

@keyframes competence-spin-x {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

@keyframes competence-btn-spin-y {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.competence__description {
	font-weight: 400;
	font-size: var(--text-size-sm);
	line-height: 26px;
	letter-spacing: 0px;
	color: var(--color-secondary);
}

.competence__btn {
	width: 100%;
	height: 50px;
	outline: none;
	border: 1px solid rgba(76, 158, 203, 1);
	border-radius: 100px;
	background-color: transparent;
	color: rgba(76, 158, 203, 1);
	cursor: pointer;
	transition: all 0.3s ease;

	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0px;
}

.competence__btn:hover {
	background-color: rgba(76, 158, 203, 1);
	color: var(--color-tertiary);
}