.competence {
	position: relative;
	z-index: 1;
	border-radius: 20px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15), 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	height: 894px;
}

.competence__header {
	padding: 80px 0 50px;
	background-color: var(--color-tertiary);
	text-align: center;
}

.competence__title {
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: var(--text-size-xl);
	line-height: 100%;
	letter-spacing: 0px;
}

.competence__subtitle {
	font-weight: 400;
	font-size: var(--text-size-md);
	line-height: 100%;
	letter-spacing: 2px;
	color: var(--color-secondary);
}

.competence__content {
	padding: 50px 0 140px;
	position: relative;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/images/background_stars2.webp') no-repeat center;
	background-size: cover;
}

.competence__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.competence__itservices,
.mobile-competence__itservices {
	display: none;
}

.competence__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 60px 23px;
	width: 270px;
	height: 490px;
	overflow: hidden;
	border-radius: 20px;
	background-color: var(--color-tertiary);
	text-align: center;
}

.competence__item :nth-child(2) {
	order: 4;
}

.competence__type {
	font-weight: 500;
	font-size: var(--text-size-md);
	line-height: 26px;
	letter-spacing: 2px;
	text-align: center;
}

.competence__icon-wrp {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: rgba(235, 234, 237, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 800px;
}

.competence__icon--animated {
	animation: competence-spin-x 1.5s ease forwards;
}

.competence__icon {
	transform-origin: center;
	transform-style: preserve-3d;
	transition: transform 0.4s ease;
}

.competence__btn:hover + .competence__icon-wrp .competence__icon {
	animation: competence-btn-spin-y 0.9s ease;
	filter: saturate(100%) invert(44%) sepia(48%) saturate(638%) hue-rotate(165deg) brightness(96%) contrast(95%);
}

@keyframes competence-spin-x {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

@keyframes competence-btn-spin-y {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.competence__description {
	font-weight: 400;
	font-size: var(--text-size-sm);
	line-height: 26px;
	letter-spacing: 0px;
	color: var(--color-secondary);
}

.competence__btn {
	width: 100%;
	height: 50px;
	outline: none;
	border: 1px solid rgba(76, 158, 203, 1);
	border-radius: 100px;
	background-color: transparent;
	color: rgba(76, 158, 203, 1);
	cursor: pointer;
	transition: all 0.3s ease;

	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0px;
}

.competence__btn:hover {
	background-color: rgba(76, 158, 203, 1);
	color: var(--color-tertiary);
}

.competence__mobile-header {
	display: none;
}

@media (max-width: 1220px) {
	.competence {
		height: auto;
	}

	.competence__header {
		padding: 64px 0 50px;
	}

	.competence__title {
		font-size: 40px;
		margin-bottom: 10px;
	}
	
	.competence__subtitle {
		font-size: 18px;
		letter-spacing: 1px;
	}

	.competence__content {
		padding: 45px 0 50px;
	}

	.competence__container {
		display: none;
	}

	.competence__itservices {
		display: block;
	}
}

@media (max-width: 760px) {
	.competence__header {
		display: none;
	}

	.competence__mobile-header {
		display: block;
		text-align: center;
		margin-bottom: 38px;
	}

	.competence__title {
		margin-bottom: 10px;
		font-size: 26px;
		line-height: 1.1;
		letter-spacing: 1px;
	}

	.competence__subtitle {
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 1px;
	}

	.competence__itservices {
		display: none;
	}

	.competence__content {
		background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/src/assets/images/background_stars2.webp) no-repeat center;
		background-size: cover;
	}

	.mobile-competence__itservices {
		display: block;
	}
}
