.langSwitcher {
	position: relative;
}

.langSwitcher__btn {
	padding: 7px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 63px;
	height: 34px;
	border: none;
	border-radius: 16px;
	background-color: rgba(0, 117, 181, 1);
	transition: height .3s ease, transform .3s ease;
	outline-width: 0;
	outline-color: transparent;
	font-size: var(--text-size-sm);
	font-weight: 400;
	color: var(--color-tertiary);
	letter-spacing: 0;
	line-height: 20px;
	overflow: hidden;
	cursor: pointer;

	position: absolute;
	top: -17px;
	right: -20px;
}

.langSwitcher__btn:active {
	box-shadow: inset 0px 2px 2px 0 rgba(0, 0, 0, 15%);
}

.langSwitcher__btn.__open {
	height: 67px;
}

.langSwitcher__element {
	display: flex;
	align-items: center;
	gap: 3px;
}

.langSwitcher__img {
	border-radius: 50%;
}

.__invisible {
	opacity: 0;
	transition: opacity .2s ease;
}

.__visible {
	opacity: 1;
	transition: opacity .3s ease .1s;
}

.__hr {
	display: inline-block;
	width: 46.5px;
	height: 1px;
	background-color: var(--color-tertiary);
	margin: 6px 0;
}
